@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

html, body {
    height: 100%;
    background-color: #000;
    color: #fff;
    font-family: 'Anton', sans-serif;
}

.Container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2%;
}