.container {
    width: 100%;
    max-width: 1200px;
    height: 100%;
    padding: 0 2%;
}

header {
    display: flex;
    position: absolute;
    justify-content: space-between;
    z-index: 9999;
    padding: 15px 2%;

    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 0%, transparent 100%);
}

header .logo {
    margin-right: 20px;
}

header .logo h3 {
    font-size: 2.5em;
    color: rgb(192, 0, 0);
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);

}

header nav ul{
    display: flex;
}

header nav ul li {
    list-style-type: none;
    padding: 0 20px;
    cursor: pointer;
    line-height: 55px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
    height: 20px;
}

.mobile{
    display: none;
}

.mobile svg {
    font-size: 52px;
}



@media screen and (max-width: 767px){
    header nav ul li{
        padding: 0 5px;
    }

    .menu.desktop {
        display: none !important;
    }

    .menu.mobile {
        display: block;
    }
}