.background-image {
    max-width: 100vw;
    height: 95vh;
    position: relative;
}

.background-image img {
    width: 100%;
    height: 95vh;
}

.content-details {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    transform: translate(5% , 40%);
    z-index: 3;
    color: #fff;
}
#play, #more-info {
    width: 150px;
    height: 33px;
    background-color: #fff;
    color: #000;
    line-height: 35px;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    margin-right: 2%;
}

.description {
    max-width: 600px;
    margin: 10px 0;
    text-align: justify;
    color: #ccc;
}

#more-info {
    background-color:rgba(99, 99, 99, 0.3);
    color: #fff;
    width: 200px;
}

#play svg, #more-info svg{
    font-size: 26px;
    vertical-align: middle;
    
}

button span {
    font-size: 16px;
}



.content-details .title {
    font-size: 48px;
    font-weight: normal;
}

.content-details .details-wrapper {
    max-width: 900px;
}
.details-wrapper button {
    margin-top: 15px;
}

.details-wrapper button:hover {
    cursor: pointer;

}

.layer {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, black 100%);
}


@media screen and (max-width: 769px){
    .background-image {
        height: 55vh;
        padding-top: 76px;
    }

    .details-wrapper {
        margin: 0 auto;
        
    }

    .background-image img {
        height: 500px;
    }

    .title {
        font-size: 30px !important;
    }

    p.description {
        display: none !important;
    }

    #play span, #more-info span{
        display: none;
    }

    #play, #more-info {
        width: 80px;
    }

    .background-image img {
        height: 55vh;
    }

    .content-details {
        width: 100%;
        position: absolute;
        text-align: center;
        top: 0;
        left: 0;
        transform: translate(1% , 71%);
    }
}


@media screen and (max-width: 380px) {
    .menu {
        display: none;
    }

    .title {
        font-size: 20px !important;
    }

    #play, #more-info {
        width: 55px;
    }

    .content-details {
        width: 100%;

    }

}
