.background-image {
    max-width: 100vw;
    height: 95vh;
    position: relative;
}

.background-image img {
    width: 100%;
    height: 95vh;
}

.content-details {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 20% 5% 0 5%;
    z-index: 3;
    color: #fff;

}
#play, #more-info {
    width: 150px;
    height: 33px;
    background-color: #fff;
    color: #000;
    line-height: 35px;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    margin-right: 2%;

}

#more-info {
    background-color:rgba(99, 99, 99, 0.3);
    color: #fff;
    width: 200px;
}

#play svg, #more-info svg{
    font-size: 26px;
    vertical-align: middle;
}

button span {
    font-size: 16px;
}

.content-details .title {
    font-size: 48px;
    font-weight: normal;
}

.content-details .details-wrapper {
    width: 100%;
    max-width: 500px;
    margin-top: 75px;
}
.details-wrapper button {
    margin-top: 30px;
}

.details-wrapper button:hover {
    cursor: pointer;

}

.layer {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 95vh;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, black 100%);
}

@media screen and (max-width: 769px){
    .background-image {
        height: 55vh;
    }

    .details-wrapper {
        margin: 0 auto;
        margin-top: 150px !important;
    }

    .title {
        font-size: 30px !important;
    }

    #play span, #more-info span{
        display: none;
    }

    #play, #more-info {
        width: 80px;
    }

    .background-image img {
        height: 55vh;
    }

    .content-details {
        padding: 0;
        text-align: center;
    }
}


@media screen and (max-width: 320px) {
    .menu {
        display: none;
    }
}